.banner{
    div{
        margin-bottom:5px;
        margin-top: 0px;
    }
    img{
        margin:auto;
        width:auto;
        height:auto;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .poster{
        
        img{
            display:block;
            max-width: 869.77px;
        }
        
    }
    .poster1{
        display:flex;
        justify-content: space-around;
        img{
            display:block;
            max-width: 280px;
            max-height:224px;           
        }
    }
    .poster2{
        display:flex;
        justify-content: space-around;
        img{
            display:block;
            max-width: 200px;
            max-height:200px;
        }
    }
    .poster3{
        display:flex;
        justify-content: space-around;
        img{
            display:block;
            max-width: 430px;
            max-height:220px;
        } 
    }
}